<!DOCTYPE html>

<html ng-app="imaLiJaciModul">
    <head>
        <base href="/">
        <title>Ima li tko jači?</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/vendor/jquery.signalR-2.1.2.min.js"></script>
        <script src="~/SignalR/hubs"></script>

        <script src="~/Scripts/vendor/angular-v1.3.0-rc.5.min.js"></script>
        <script src="/Scripts/vendor/angular-ui-router.min.js"></script>
        <script src="~/Scripts/vendor/angular-resource.min.js"></script>
        <script src="/Scripts/vendor/angular-signalr-hub-min.js"></script>

        <script src="/Scripts/src/app.js"></script>
        <script src="/Scripts/src/app-states.js"></script>
        <script src="/Scripts/src/controllers/imaLiJaciPublic.js"></script>
        <script src="~/Scripts/src/enums/hubListenerNames.js"></script>
        <script src="~/Scripts/src/repositories/chatRepository.js"></script>
        <script src="~/Scripts/src/services/publicChatHub.js"></script>
        <script src="~/Scripts/src/directives/chatRenderer.js"></script>
        <script src="~/Scripts/src/directives/chatInput.js"></script>
        <script src="~/Scripts/src/filters/dateTime.js"></script>
    </head>
<body>
    <div class="container" ui-view></div>
</body>
</html>