<!DOCTYPE html>

<html ng-app="imaLiJaciModul">
    <head>
        <base href="/">
        <title>Ima li tko jači?</title>
        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/vendor/angular-v1.3.0-rc.5.min.js"></script>
        <script src="/Scripts/vendor/angular-ui-router.min.js"></script>
        <script src="/Scripts/vendor/angular-signalr-hub-min.js"></script>

        <script src="/Scripts/src/app.js"></script>
        <script src="/Scripts/src/app-states.js"></script>
        <script src="/Scripts/src/controllers/imaLiJaciHome.js"></script>
    </head>
<body>
    <div ui-view></div>
</body>
</html>