<div ng-repeat="message in messages">
    <div ng-if="message.Type == 1">
        [{{message.Timestamp | time}}] {{message.User.DisplayName}}: <strong>{{message.Text}}</strong>
    </div>
    <div ng-if="message.Type == 2">
        [{{message.Timestamp | time}}] {{message.User.DisplayName}}: Točan odgovor je: <strong>{{message.Text}}</strong>
    </div>
    <div ng-if="message.Type == 3">
        [{{message.Timestamp | time}}] {{message.User.DisplayName}}: {{message.Text}}
    </div>
    <div ng-if="message.Type == 4">
        [{{message.Timestamp | time}}] {{message.User.DisplayName}}: <i>{{message.Text}}</i>
    </div>
    <div ng-if="message.Type == 5">
        [{{message.Timestamp | time}}] {{message.User.DisplayName}}: <strong>{{message.Text}}</strong>
    </div>
</div>